#NET			LOC = "p1"; # GND
#NET	PRBA_OE_N	LOC = "p2"; #           Tillfälligt utesluten
NET	PRBB_IN(7)	LOC = "p3"; #
NET	PRBB_IN(6)	LOC = "p4"; #
NET	PRBB_IN(5)	LOC = "p5"; #
#NET			LOC = "p6"; # TDI
#NET			LOC = "p7"; # TCK
NET	PRBB_IN(4)	LOC = "p8"; #
NET	PRBB_IN(3)	LOC = "p9"; #
NET	PRBB_IN(2)	LOC = "p10"; #
NET	PRBB_IN(1)	LOC = "p11"; #
#NET			LOC = "p12"; #
#NET			LOC = "p13"; #
#NET			LOC = "p14"; # GND
NET	PRBB_IN(0)	LOC = "p15"; #
#NET	PRBB_OE_N	LOC = "p16"; #           Tillfälligt utesluten
#NET			LOC = "p17"; # TMS
#NET			LOC = "p18"; #
#NET			LOC = "p19"; # VCC
NET "MEM_E0_N" LOC = "p20"; #
NET "MEM_G_N" LOC = "p21"; #
#NET			LOC = "p22"; # GND
#NET			LOC = "p23"; #
NET	ADDR_COUNT(16)	LOC = "p24"; #
NET	ADDR_COUNT(15)	LOC = "p25"; #
NET	ADDR_COUNT(14)	LOC = "p26"; #
NET	ADDR_COUNT(7)	LOC = "p27"; #
#NET			LOC = "p28"; #
#NET			LOC = "p29"; # GND
#NET			LOC = "p30"; # VCC
NET	ADDR_COUNT(8)	LOC = "p31"; #
NET	ADDR_COUNT(9)	LOC = "p32"; #
NET	ADDR_COUNT(10)	LOC = "p33"; #
NET	ADDR_COUNT(11)	LOC = "p34"; #
#NET			LOC = "p35"; #
#NET			LOC = "p36"; #
#NET			LOC = "p37"; # GND
#NET			LOC = "p38"; #
#NET			LOC = "p39"; #
#NET			LOC = "p40"; # VCC
NET	ADDR_COUNT(12)	LOC = "p41"; #
NET	ADDR_COUNT(13)	LOC = "p42"; #
NET	ADDR_COUNT(0)	LOC = "p43"; #
NET	ADDR_COUNT(1)	LOC = "p44"; #
#NET			LOC = "p45"; # GND
NET	ADDR_COUNT(2)	LOC = "p46"; #
NET	ADDR_COUNT(3)	LOC = "p47"; #
NET	ADDR_COUNT(4)	LOC = "p48"; #
NET	ADDR_COUNT(5)	LOC = "p49"; #
NET	ADDR_COUNT(6)	LOC = "p50"; #
#NET	ADDR_COUNT(18)	LOC = "p51"; #            Tillfälligt utesluten
#NET	ADDR_COUNT(17)	LOC = "p52"; #            Tillfälligt utesluten
NET "MEM_BS3_N" LOC = "p53"; #
NET "MEM_BS2_N" LOC = "p54"; #
NET "MEM_BS1_N" LOC = "p55"; #
NET "MEM_BS0_N" LOC = "p56"; #
#NET			LOC = "p57"; #
#NET			LOC = "p58"; # M1
#NET			LOC = "p59"; # GND
#NET			LOC = "p60"; # M0
#NET			LOC = "p61"; # VCC
#NET			LOC = "p62"; # M2
NET "SMP_CLK" LOC = "p63"; #
#NET			LOC = "p64"; # HDC
#NET			LOC = "p65"; #
#NET			LOC = "p66"; #
NET "MEM_E1_N" LOC = "p67"; #
#NET			LOC = "p68"; # LDC_N
#NET	PODP_OE_N	LOC = "p69"; #            Tillfälligt utesluten
NET	PODP_IN(0)	LOC = "p70"; #
NET	PODP_IN(1)	LOC = "p71"; #
NET	PODP_IN(2)	LOC = "p72"; #
NET	PODP_IN(3)	LOC = "p73"; #
#NET			LOC = "p74"; #
#NET			LOC = "p75"; # GND
NET	PODP_IN(4)	LOC = "p76"; #
NET	PODP_IN(5)	LOC = "p77"; #
NET	PODP_IN(6)	LOC = "p78"; #
NET	PODP_IN(7)	LOC = "p79"; #
#NET			LOC = "p80"; # VCC
#NET			LOC = "p81"; #
#NET			LOC = "p82"; #
#NET			LOC = "p83"; # GND
#NET			LOC = "p84"; #
#NET	PODQ_OE_N	LOC = "p85"; #            Tillfälligt utesluten
NET	PODQ_IN(0)	LOC = "p86"; #
NET	PODQ_IN(1)	LOC = "p87"; #
#NET			LOC = "p88"; #
#NET			LOC = "p89"; # INIT_N
#NET			LOC = "p90"; # VCC
#NET			LOC = "p91"; # GND
NET	PODQ_IN(2)	LOC = "p92"; #
NET	PODQ_IN(3)	LOC = "p93"; #
NET	PODQ_IN(4)	LOC = "p94"; #
NET	PODQ_IN(5)	LOC = "p95"; #
#NET			LOC = "p96"; #
#NET			LOC = "p97"; #
#NET			LOC = "p98"; # GND
#NET			LOC = "p99"; #
#NET			LOC = "p100"; #
#NET			LOC = "p101"; # VCC
NET	PODQ_IN(6)	LOC = "p102"; #
NET	PODQ_IN(7)	LOC = "p103"; #
#NET			LOC = "p104"; #
#NET			LOC = "p105"; #
#NET			LOC = "p106"; # GND
#NET			LOC = "p107"; #
NET "PRBA_GND" LOC = "p108"; #
#NET			LOC = "p109"; #
NET "PRBB_GND" LOC = "p110"; #
#NET			LOC = "p111"; #
#NET			LOC = "p112"; #
#NET			LOC = "p113"; #
#NET			LOC = "p114"; #
#NET			LOC = "p115"; #
#NET			LOC = "p116"; #
NET "GEN_SMP_CLK" LOC = "p117"; #
NET "EXT_CLK" LOC = "p118"; #
#NET			LOC = "p119"; # GND
#NET			LOC = "p120"; # DONE
#NET			LOC = "p121"; # VCC
#NET			LOC = "p122"; # PROGRAM_N
NET	DATA(7)		LOC = "p123"; #
NET "CLK" LOC = "p124"; #
#NET			LOC = "p125"; #
#NET			LOC = "p126"; #
#NET			LOC = "p127"; #
#NET			LOC = "p128"; #
NET	DATA(6)		LOC = "p129"; #
NET	LEDS(0)		LOC = "p130"; #
NET	LEDS(1)		LOC = "p131"; #
NET	LEDS(2)		LOC = "p132"; #
#NET			LOC = "p133"; #
#NET			LOC = "p134"; #
#NET			LOC = "p135"; # GND
#NET			LOC = "p136"; #
#NET			LOC = "p137"; #
#NET			LOC = "p138"; #
#NET			LOC = "p139"; #
#NET			LOC = "p140"; # VCC
NET	DATA(5)	LOC = "p141"; #
#NET			LOC = "p142"; #
#NET			LOC = "p143"; # GND
#NET			LOC = "p144"; #
#NET			LOC = "p145"; #
#NET			LOC = "p146"; #
#NET			LOC = "p147"; #
NET	DATA(4)	LOC = "p148"; #
#NET			LOC = "p149"; #
#NET			LOC = "p150"; # VCC
#NET			LOC = "p151"; # GND
NET	DATA(3)	LOC = "p152"; #
#NET			LOC = "p153"; #
#NET			LOC = "p154"; #
NET	LEDS(3)	LOC = "p155"; #
#NET			LOC = "p156"; #
#NET			LOC = "p157"; #
#NET			LOC = "p158"; # GND
NET	DATA(2)	LOC = "p159"; #
#NET			LOC = "p160"; #
#NET			LOC = "p161"; # VCC
#NET			LOC = "p162"; #
#NET			LOC = "p163"; #
#NET			LOC = "p164"; #
NET	LEDS(4)	LOC = "p165"; #
#NET			LOC = "p166"; # GND
#NET			LOC = "p167"; #
NET	LEDS(5)	LOC = "p168"; #
#NET			LOC = "p169"; #
#NET			LOC = "p170"; #
NET	LEDS(6)	LOC = "p171"; #
NET	LEDS(7)	LOC = "p172"; #
NET	DATA(1)	LOC = "p173"; #
#NET			LOC = "p174"; # RDY_BUSY
#NET			LOC = "p175"; #
#NET			LOC = "p176"; #
NET	DATA(0)	LOC = "p177"; #
NET "ALE" LOC = "p178"; #
#NET			LOC = "p179"; # CCLK
#NET			LOC = "p180"; # VCC
#NET			LOC = "p181"; # TDO
#NET			LOC = "p182"; # GND
#NET			LOC = "p183"; #
#NET	CPU_CLK	LOC = "p184"; #            Tillfälligt utesluten
#NET			LOC = "p185"; #
NET "CPU_RD_N" LOC = "p186"; #
NET "CPU_WR_N" LOC = "p187"; #
NET "CPU_INT_N" LOC = "p188"; #
NET "RD_N" LOC = "p189"; #
NET "WR_N" LOC = "p190"; #
NET "D12_CS_N" LOC = "p191"; #
NET "DMAREQ" LOC = "p192"; #
#NET	DMACK_N	LOC = "p193"; #            Tillfälligt utesluten
#NET			LOC = "p194"; #
#NET			LOC = "p195"; #
#NET			LOC = "p196"; # GND
NET "EOT_N" LOC = "p197"; #
#NET			LOC = "p198"; #
NET "RESET" LOC = "p199"; #
#NET			LOC = "p200"; #
#NET			LOC = "p201"; # VCC
#NET			LOC = "p202"; #
#NET			LOC = "p203"; #
#NET			LOC = "p204"; # GND
#NET			LOC = "p205"; #
#NET			LOC = "p206"; #
NET	PRBA_GAIN(0)	LOC = "p207"; #
NET	PRBA_GAIN(1)	LOC = "p208"; #
#NET			LOC = "p209"; #
#NET			LOC = "p210"; #
#NET			LOC = "p211"; # GND
#NET			LOC = "p212"; # VCC
#NET			LOC = "p213"; #
#NET			LOC = "p214"; #
NET "PRBA_AC" LOC = "p215"; #
NET	PRBB_GAIN(1)	LOC = "p216"; #
NET	PRBB_GAIN(0)	LOC = "p217"; #
#NET			LOC = "p218"; #
#NET			LOC = "p219"; # GND
NET "PRBB_AC" LOC = "p220"; #
#NET			LOC = "p221"; #
#NET			LOC = "p222"; # VCC
#NET			LOC = "p223"; #
#NET			LOC = "p224"; #
NET	PRBB_GAIN(3)	LOC = "p225"; #
NET	PRBB_GAIN(2)	LOC = "p226"; #
#NET			LOC = "p227"; # GND
#NET			LOC = "p228"; #
NET	PRBA_GAIN(3)	LOC = "p229"; #
NET	PRBA_GAIN(2)	LOC = "p230"; #
NET	PRBA_IN(7)	LOC = "p231"; #
NET	PRBA_IN(6)	LOC = "p232"; #
NET	PRBA_IN(5)	LOC = "p233"; #
NET	PRBA_IN(4)	LOC = "p234"; #
NET	PRBA_IN(3)	LOC = "p235"; #
NET	PRBA_IN(2)	LOC = "p236"; #
NET	PRBA_IN(1)	LOC = "p237"; #
NET	PRBA_IN(0)	LOC = "p238"; #
#NET			LOC = "p239"; #
#NET			LOC = "p240"; # VCC
NET "SMP_CLK" TNM_NET = "SMP_CLK";
NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 33.333333333333 ns HIGH 50 %;
TIMESPEC "TS_SMP_CLK" = PERIOD "SMP_CLK" 33.3333333333 ns HIGH 50 %;
INST "DATA_pad[0]" TNM = "DATA_BUS";
INST "DATA_pad[1]" TNM = "DATA_BUS";
INST "DATA_pad[2]" TNM = "DATA_BUS";
INST "DATA_pad[3]" TNM = "DATA_BUS";
INST "DATA_pad[4]" TNM = "DATA_BUS";
INST "DATA_pad[5]" TNM = "DATA_BUS";
INST "DATA_pad[6]" TNM = "DATA_BUS";
INST "DATA_pad[7]" TNM = "DATA_BUS";
TIMEGRP "DATA_BUS" OFFSET = IN 18.8 ns BEFORE "ALE";
OFFSET = IN 18.8 ns BEFORE "ALE";
OFFSET = OUT 100 ns AFTER "ALE";
